.pagina-cabecalho{
    background-color: $cor-principal;
    background-image:url("../portfolio/img/cabecalho-pagina-bg.jpg");
    background-attachment: fixed;
    color: #fff;
    padding-top: 140px;
    padding-bottom:40px;
    &__titulo{
        text-align:center;
        text-transform:capitalize;
    }
    &__titulo::after{
        content:"  ";
        display: block;
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 1px;
    }
}
.pagina-conteudo{
    padding: 15px;
    padding-top:25px;
    padding-bottom: 25px;
}
.pagina-conteudo p{
    color:$cor-leitura;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}